.calendario {
  font-family: Arial, sans-serif;
  text-align: center;
}

.dias {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
}

.dia {
  padding: 8px;
  border: 1px solid #ccc;
  text-align: center;
}

.dia-selecionado {
  background-color: #3498db;
  color: #fff;
}
